.elementor-2548
  .elementor-element.elementor-element-b0704a6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2548
  .elementor-element.elementor-element-b0704a6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f7fb;
}
.elementor-2548 .elementor-element.elementor-element-b0704a6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 54px 0px 80px 0px;
}
.elementor-2548
  .elementor-element.elementor-element-b0704a6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2548
  .elementor-element.elementor-element-85153f0
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2548 .elementor-element.elementor-element-85153f0 > div {
  justify-content: space-between;
}
.elementor-2548 .elementor-element.elementor-element-133c5a8 .pxl-socials-wrap {
  margin-left: calc(20.8px / -2);
  margin-right: calc(20.8px / -2);
}
.elementor-2548
  .elementor-element.elementor-element-133c5a8
  .pxl-socials-wrap
  > * {
  margin-left: calc(20.8px / 2);
  margin-right: calc(20.8px / 2);
}
.elementor-2548 .elementor-element.elementor-element-133c5a8 .social-item {
  font-size: 20.8px;
  color: #3f4b4b82;
}
.elementor-2548
  .elementor-element.elementor-element-133c5a8
  .social-item:hover {
  color: #282e67;
}
.elementor-2548 .elementor-element.elementor-element-8dc09b4 .pxl-heading-wrap {
  justify-content: end;
}
.elementor-2548
  .elementor-element.elementor-element-8dc09b4
  .pxl-heading-inner {
  text-align: end;
}
.elementor-2548
  .elementor-element.elementor-element-8dc09b4
  .pxl-heading-wrap
  .heading-subtitle {
  color: #3f4b4b;
}
.elementor-2548
  .elementor-element.elementor-element-8dc09b4
  .pxl-heading-wrap
  .heading-subtitle
  span:before {
  background-color: #3f4b4b;
}
.elementor-2548
  .elementor-element.elementor-element-8dc09b4
  .pxl-heading-wrap
  .heading-subtitle
  span:after {
  background-color: #3f4b4b;
}
.elementor-2548
  .elementor-element.elementor-element-8dc09b4
  .pxl-heading-wrap
  .heading-title {
  color: #1b1642;
}
.elementor-2548
  .elementor-element.elementor-element-8dc09b4
  > .elementor-widget-container {
  margin: 0px 24px 0px 0px;
}
.elementor-2548 .elementor-element.elementor-element-8dc09b4 {
  width: auto;
  max-width: auto;
}
.elementor-2548
  .elementor-element.elementor-element-1cf9a0f
  .pxl-mailchimp
  > div {
  max-width: 388px;
  min-width: 388px;
}
.elementor-2548 .elementor-element.elementor-element-1cf9a0f {
  width: auto;
  max-width: auto;
}
.elementor-2548
  .elementor-element.elementor-element-947e421:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2548
  .elementor-element.elementor-element-947e421
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f7fb;
}
.elementor-2548 .elementor-element.elementor-element-947e421 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2548
  .elementor-element.elementor-element-947e421
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2548 .elementor-element.elementor-element-a5abba6 {
  padding: 64px 0px 0px 0px;
}
.elementor-2548 .elementor-element.elementor-element-c7b2f3c .pxl-logo img {
  max-width: 165px;
}
.elementor-2548
  .elementor-element.elementor-element-c7b2f3c
  > .elementor-widget-container {
  margin: -10px 0px 30px 0px;
}
.elementor-2548
  .elementor-element.elementor-element-245a581
  .qc-content-wrap
  .pxl-icon {
  color: #fc7952;
}
.elementor-2548
  .elementor-element.elementor-element-245a581
  .qc-content-wrap
  a {
  font-weight: 600;
}
.elementor-2548
  .elementor-element.elementor-element-2af2fca
  > .elementor-element-populated {
  margin: 0px 0px 0px 130px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 130px;
}
.elementor-2548
  .elementor-element.elementor-element-3a76a0f
  .pxl-heading-wrap
  .heading-title {
  color: #1b1642;
  font-weight: 500;
  letter-spacing: 0px;
}
.elementor-2548
  .elementor-element.elementor-element-3a76a0f
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-2548
  .elementor-element.elementor-element-3a76a0f
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-2548
  .elementor-element.elementor-element-3a76a0f
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-2548 .elementor-element.elementor-element-6814576 .pxl-text-editor,
.elementor-2548
  .elementor-element.elementor-element-6814576
  .pxl-text-editor
  h1,
.elementor-2548
  .elementor-element.elementor-element-6814576
  .pxl-text-editor
  h2,
.elementor-2548
  .elementor-element.elementor-element-6814576
  .pxl-text-editor
  h3,
.elementor-2548
  .elementor-element.elementor-element-6814576
  .pxl-text-editor
  h4,
.elementor-2548
  .elementor-element.elementor-element-6814576
  .pxl-text-editor
  h5,
.elementor-2548
  .elementor-element.elementor-element-6814576
  .pxl-text-editor
  h6 {
  font-size: 16px;
}
.elementor-2548
  .elementor-element.elementor-element-6814576
  > .elementor-widget-container {
  margin: 0px 0px 32px 0px;
}
.elementor-2548
  .elementor-element.elementor-element-0c39385
  .pxl-open-hour
  .title {
  color: #3f4b4b;
}
.elementor-2548
  .elementor-element.elementor-element-7c239e8
  .pxl-heading-wrap
  .heading-title {
  color: #1b1642;
  font-weight: 500;
  letter-spacing: 0px;
}
.elementor-2548
  .elementor-element.elementor-element-7c239e8
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-2548
  .elementor-element.elementor-element-7c239e8
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-2548
  .elementor-element.elementor-element-7c239e8
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-2548 .elementor-element.elementor-element-a7b845e .pxl-links a {
  color: #616277;
}
.elementor-2548
  .elementor-element.elementor-element-a7b845e
  .pxl-links
  a:hover {
  color: #fc7952;
}
.elementor-2548
  .elementor-element.elementor-element-a7b845e
  .pxl-links
  a
  .pxl-icon {
  color: #fc7952;
}
.elementor-2548
  .elementor-element.elementor-element-88bf0a6
  .pxl-heading-wrap
  .heading-title {
  color: #1b1642;
  font-weight: 500;
  letter-spacing: 0px;
}
.elementor-2548
  .elementor-element.elementor-element-88bf0a6
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-2548
  .elementor-element.elementor-element-88bf0a6
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-2548
  .elementor-element.elementor-element-88bf0a6
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-2548 .elementor-element.elementor-element-9c56261 .pxl-links a {
  color: #616277;
}
.elementor-2548
  .elementor-element.elementor-element-9c56261
  .pxl-links
  a:hover {
  color: #fc7952;
}
.elementor-2548
  .elementor-element.elementor-element-9c56261
  .pxl-links
  a
  .pxl-icon {
  color: #fc7952;
}
.elementor-2548
  .elementor-element.elementor-element-fbfe074
  .pxl-heading-wrap
  .heading-title {
  color: #1b1642;
  font-weight: 500;
  letter-spacing: 0px;
}
.elementor-2548
  .elementor-element.elementor-element-fbfe074
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-2548
  .elementor-element.elementor-element-fbfe074
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-2548
  .elementor-element.elementor-element-fbfe074
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-2548 .elementor-element.elementor-element-72329c9 .pxl-links a {
  color: #616277;
}
.elementor-2548
  .elementor-element.elementor-element-72329c9
  .pxl-links
  a:hover {
  color: #fc7952;
}
.elementor-2548
  .elementor-element.elementor-element-72329c9
  .pxl-links
  a
  .pxl-icon {
  color: #fc7952;
}
.elementor-2548 .elementor-element.elementor-element-7e266b9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 32px;
  margin-bottom: 0px;
}
.elementor-2548
  .elementor-element.elementor-element-7e266b9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2548 .elementor-element.elementor-element-9918f2c {
  --divider-border-style: solid;
  --divider-color: #e0e1e6;
  --divider-border-width: 1px;
}
.elementor-2548
  .elementor-element.elementor-element-9918f2c
  .elementor-divider-separator {
  width: 100%;
}
.elementor-2548
  .elementor-element.elementor-element-9918f2c
  .elementor-divider {
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-2548 .elementor-element.elementor-element-ad08b8d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 0px 24px 0px;
}
.elementor-2548
  .elementor-element.elementor-element-ad08b8d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2548 .elementor-element.elementor-element-396ea67 .pxl-text-editor {
  color: #616277;
}
.elementor-2548
  .elementor-element.elementor-element-396ea67
  .border-left
  .pxl-text-editor:before {
  background-color: #616277;
}
.elementor-2548 .elementor-element.elementor-element-396ea67 .pxl-text-editor,
.elementor-2548
  .elementor-element.elementor-element-396ea67
  .pxl-text-editor
  h1,
.elementor-2548
  .elementor-element.elementor-element-396ea67
  .pxl-text-editor
  h2,
.elementor-2548
  .elementor-element.elementor-element-396ea67
  .pxl-text-editor
  h3,
.elementor-2548
  .elementor-element.elementor-element-396ea67
  .pxl-text-editor
  h4,
.elementor-2548
  .elementor-element.elementor-element-396ea67
  .pxl-text-editor
  h5,
.elementor-2548
  .elementor-element.elementor-element-396ea67
  .pxl-text-editor
  h6 {
  font-size: 0.8rem;
}
.elementor-2548 .elementor-element.elementor-element-4964963 .pxl-links {
  justify-content: end;
}
.elementor-2548 .elementor-element.elementor-element-4964963 .pxl-links a {
  color: #616277;
  font-size: 0.8rem;
}
.elementor-2548
  .elementor-element.elementor-element-4964963
  .pxl-links
  a:hover {
  color: #fc7952;
}
@media (min-width: 576px) {
  .elementor-2548 .elementor-element.elementor-element-e75284b {
    width: 24.242424242%;
  }
  .elementor-2548 .elementor-element.elementor-element-2af2fca {
    width: 34%;
  }
  .elementor-2548 .elementor-element.elementor-element-1999b58 {
    width: 13.863636363%;
  }
  .elementor-2548 .elementor-element.elementor-element-c3cf5fa {
    width: 13.863636363%;
  }
  .elementor-2548 .elementor-element.elementor-element-bcaccc6 {
    width: 14.031%;
  }
}
@media (max-width: 1599px) and (min-width: 576px) {
  .elementor-2548 .elementor-element.elementor-element-e75284b {
    width: 25%;
  }
  .elementor-2548 .elementor-element.elementor-element-2af2fca {
    width: 25%;
  }
  .elementor-2548 .elementor-element.elementor-element-1999b58 {
    width: 16.6666666667%;
  }
  .elementor-2548 .elementor-element.elementor-element-c3cf5fa {
    width: 16.6666666667%;
  }
  .elementor-2548 .elementor-element.elementor-element-bcaccc6 {
    width: 16.6666666667%;
  }
}
@media (max-width: 1199px) and (min-width: 576px) {
  .elementor-2548 .elementor-element.elementor-element-e75284b {
    width: 22.8334%;
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  .elementor-2548 .elementor-element.elementor-element-e75284b {
    width: 50%;
  }
  .elementor-2548 .elementor-element.elementor-element-2af2fca {
    width: 50%;
  }
  .elementor-2548 .elementor-element.elementor-element-1999b58 {
    width: 33.33333333%;
  }
  .elementor-2548 .elementor-element.elementor-element-c3cf5fa {
    width: 33.33333333%;
  }
  .elementor-2548 .elementor-element.elementor-element-bcaccc6 {
    width: 33.33333333%;
  }
  .elementor-2548 .elementor-element.elementor-element-f285115 {
    width: 65%;
  }
  .elementor-2548 .elementor-element.elementor-element-afc0275 {
    width: 65%;
  }
  .elementor-2548 .elementor-element.elementor-element-6a213ff {
    width: 35%;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .elementor-2548 .elementor-element.elementor-element-1999b58 {
    width: 50%;
  }
  .elementor-2548 .elementor-element.elementor-element-c3cf5fa {
    width: 50%;
  }
  .elementor-2548 .elementor-element.elementor-element-bcaccc6 {
    width: 100%;
  }
  .elementor-2548 .elementor-element.elementor-element-f285115 {
    width: 100%;
  }
  .elementor-2548 .elementor-element.elementor-element-afc0275 {
    width: 100%;
  }
  .elementor-2548 .elementor-element.elementor-element-6a213ff {
    width: 100%;
  }
}
@media (max-width: 1599px) {
  .elementor-2548
    .elementor-element.elementor-element-2af2fca
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
}
@media (max-width: 1199px) {
  .elementor-2548 .elementor-element.elementor-element-133c5a8 .social-item {
    font-size: 18px;
  }
  .elementor-2548
    .elementor-element.elementor-element-1cf9a0f
    .pxl-mailchimp
    > div {
    min-width: 300px;
  }
  .elementor-2548
    .elementor-element.elementor-element-2af2fca
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
}
@media (max-width: 991px) {
  .elementor-2548
    .elementor-element.elementor-element-8dc09b4
    .pxl-heading-inner {
    max-width: 240px;
  }
  .elementor-2548
    .elementor-element.elementor-element-1cf9a0f
    .pxl-mailchimp
    > div {
    min-width: 220px;
  }
  .elementor-2548
    .elementor-element.elementor-element-2af2fca
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-2548
    .elementor-element.elementor-element-3a76a0f
    > .elementor-widget-container {
    margin: 10px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-2548
    .elementor-element.elementor-element-a1a0d12.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-2548
    .elementor-element.elementor-element-133c5a8
    .pxl-socials-wrap {
    justify-content: center;
  }
  .elementor-2548
    .elementor-element.elementor-element-8dc09b4
    .pxl-heading-wrap {
    justify-content: center;
  }
  .elementor-2548
    .elementor-element.elementor-element-8dc09b4
    .pxl-heading-inner {
    text-align: center;
    max-width: 500px;
  }
  .elementor-2548
    .elementor-element.elementor-element-8dc09b4
    > .elementor-widget-container {
    margin: 16px 0px 16px 0px;
  }
  .elementor-2548 .elementor-element.elementor-element-8dc09b4 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-2548
    .elementor-element.elementor-element-1cf9a0f
    .pxl-mailchimp
    > div {
    max-width: 600px;
    min-width: 120px;
  }
  .elementor-2548 .elementor-element.elementor-element-1cf9a0f {
    width: 100%;
    max-width: 100%;
  }
  .elementor-2548
    .elementor-element.elementor-element-c7b2f3c
    > .elementor-widget-container {
    margin: 0px 0px 24px 0px;
  }
  .elementor-2548 .elementor-element.elementor-element-6814576 .pxl-text-editor,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h1,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h2,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h3,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h4,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h5,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h6 {
    font-size: 15px;
  }
  .elementor-2548
    .elementor-element.elementor-element-1999b58
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-2548
    .elementor-element.elementor-element-c3cf5fa
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-2548
    .elementor-element.elementor-element-396ea67
    .pxl-text-editor-wrap {
    justify-content: center;
  }
  .elementor-2548
    .elementor-element.elementor-element-396ea67
    .pxl-text-editor {
    text-align: center;
  }
  .elementor-2548 .elementor-element.elementor-element-4964963 .pxl-links {
    justify-content: center;
  }
  .elementor-2548
    .elementor-element.elementor-element-4964963
    > .elementor-widget-container {
    margin: 5px 0px 0px 0px;
  }
}
@media (max-width: 575px) {
  .elementor-2548
    .elementor-element.elementor-element-133c5a8
    > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
  }
  .elementor-2548
    .elementor-element.elementor-element-245a581
    .qc-content-wrap {
    font-size: 14px;
  }
  .elementor-2548
    .elementor-element.elementor-element-3a76a0f
    > .elementor-widget-container {
    margin: 32px 0px 12px 0px;
  }
  .elementor-2548 .elementor-element.elementor-element-6814576 .pxl-text-editor,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h1,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h2,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h3,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h4,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h5,
  .elementor-2548
    .elementor-element.elementor-element-6814576
    .pxl-text-editor
    h6 {
    font-size: 14px;
  }
  .elementor-2548
    .elementor-element.elementor-element-7c239e8
    > .elementor-widget-container {
    margin: 0px 0px 12px 0px;
  }
  .elementor-2548
    .elementor-element.elementor-element-88bf0a6
    > .elementor-widget-container {
    margin: 0px 0px 12px 0px;
  }
  .elementor-2548
    .elementor-element.elementor-element-fbfe074
    > .elementor-widget-container {
    margin: 0px 0px 12px 0px;
  }
}
