.elementor-24 .elementor-element.elementor-element-4aa55a0 {
  padding: 0px 0px 120px 0px;
}
.elementor-24 .elementor-element.elementor-element-661ce65 img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-24
  .elementor-element.elementor-element-661ce65
  > .elementor-widget-container {
  margin: 0px 32px 32px 0px;
}
.elementor-24
  .elementor-element.elementor-element-936a9c7
  .odometer-ribbon-inner {
  transition-duration: 2000ms !important;
}
.elementor-24
  .elementor-element.elementor-element-936a9c7
  .layout-1
  .counter-inner {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-936a9c7
  .pxl-counter.layout-2 {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-936a9c7
  .pxl-counter.layout-3 {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-936a9c7
  .pxl-counter.layout-4
  .counter-content {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-936a9c7
  .layout-5
  .counter-inner {
  text-align: center;
}
.elementor-24
  .elementor-element.elementor-element-936a9c7
  > .elementor-widget-container {
  margin: -48px 0px 0px 0px;
}
.elementor-24
  .elementor-element.elementor-element-7180dd9
  .pxl-heading-wrap
  .heading-subtitle {
  color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-7180dd9
  .pxl-heading-wrap
  .heading-subtitle
  span:before {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-7180dd9
  .pxl-heading-wrap
  .heading-subtitle
  span:after {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-7180dd9
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-24
  .elementor-element.elementor-element-7180dd9
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-24
  .elementor-element.elementor-element-e702b81
  > .elementor-widget-container {
  margin: 0px 0px 56px 0px;
}
.elementor-24
  .elementor-element.elementor-element-7862e72
  .pxl-list-style
  .list-icon {
  color: #3f4b4b;
  font-size: 16px;
}
.elementor-24
  .elementor-element.elementor-element-1f7c854
  > .elementor-widget-container {
  margin: 48px 0px 16px 0px;
}
.elementor-24
  .elementor-element.elementor-element-96a6aaa
  .pxl-button-wrapper
  .pxl-btn {
  background: #282e67 !important;
}
.elementor-24
  .elementor-element.elementor-element-96a6aaa
  .pxl-button-wrapper
  .pxl-btn:hover,
.elementor-24
  .elementor-element.elementor-element-96a6aaa
  .pxl-button-wrapper
  .pxl-btn:focus,
.elementor-24
  .elementor-element.elementor-element-96a6aaa
  .pxl-button-wrapper
  .pxl-btn:active {
  background: #111436 !important;
}
.elementor-24
  .elementor-element.elementor-element-aa62e90
  > .elementor-container {
  max-width: 886px;
}
.elementor-24 .elementor-element.elementor-element-aa62e90 {
  z-index: 1;
}
.elementor-24 .elementor-element.elementor-element-cfa2fd9 {
  width: auto;
  max-width: auto;
  top: -80px;
  z-index: 0;
}
body:not(.rtl) .elementor-24 .elementor-element.elementor-element-cfa2fd9 {
  right: -80px;
}
body.rtl .elementor-24 .elementor-element.elementor-element-cfa2fd9 {
  left: -80px;
}
.elementor-24 .elementor-element.elementor-element-d9496f7 {
  z-index: 1;
}
.elementor-24
  .elementor-element.elementor-element-721690a
  > .elementor-container {
  max-width: 886px;
}
.elementor-24
  .elementor-element.elementor-element-721690a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-24
  .elementor-element.elementor-element-721690a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #282e67;
  background-image: url("http://localhost/serenite/wp-content/uploads/2022/08/topography-background.png");
}
.elementor-24 .elementor-element.elementor-element-721690a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -128px;
  margin-bottom: 0px;
  padding: 200px 0px 120px 0px;
}
.elementor-24
  .elementor-element.elementor-element-721690a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-24 .elementor-element.elementor-element-c99cf92 .pxl-heading-wrap {
  justify-content: center;
}
.elementor-24 .elementor-element.elementor-element-c99cf92 .pxl-heading-inner {
  text-align: center;
}
.elementor-24
  .elementor-element.elementor-element-c99cf92
  .pxl-heading-wrap
  .heading-subtitle {
  color: #ffffff;
}
.elementor-24
  .elementor-element.elementor-element-c99cf92
  .pxl-heading-wrap
  .heading-subtitle
  span:before {
  background-color: #ffffff;
}
.elementor-24
  .elementor-element.elementor-element-c99cf92
  .pxl-heading-wrap
  .heading-subtitle
  span:after {
  background-color: #ffffff;
}
.elementor-24
  .elementor-element.elementor-element-c99cf92
  .pxl-heading-wrap
  .heading-title {
  color: #ffffff;
}
.elementor-24
  .elementor-element.elementor-element-c99cf92
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-24
  .elementor-element.elementor-element-c99cf92
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-24
  .elementor-element.elementor-element-c99cf92
  > .elementor-widget-container {
  margin: 0px 0px 32px 0px;
}
.elementor-24
  .elementor-element.elementor-element-29a4c06
  .pxl-video-player
  .pxl-video-btn {
  background-color: #ffb000;
}
.elementor-24
  .elementor-element.elementor-element-29a4c06
  .pxl-video-player
  .pxl-video-btn:hover {
  background-color: #f6ad0c;
}
.elementor-24 .elementor-element.elementor-element-29a4c06 .btn-video-wrap {
  justify-content: center;
}
.elementor-24 .elementor-element.elementor-element-82d9da3 {
  padding: 64px 0px 0px 0px;
}
.elementor-24
  .elementor-element.elementor-element-fc9d12b
  .odometer-ribbon-inner {
  transition-duration: 2000ms !important;
}
.elementor-24
  .elementor-element.elementor-element-fc9d12b
  .layout-1
  .counter-inner {
  align-items: center;
}
.elementor-24 .elementor-element.elementor-element-fc9d12b .counter-number {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}
.elementor-24 .elementor-element.elementor-element-fc9d12b .icon-space {
  color: #fc7952;
  background-color: #fc795200;
  font-size: 48px;
}
.elementor-24 .elementor-element.elementor-element-fc9d12b .counter-title {
  color: #ffffff;
}
.elementor-24
  .elementor-element.elementor-element-2c4bb35
  .odometer-ribbon-inner {
  transition-duration: 2000ms !important;
}
.elementor-24
  .elementor-element.elementor-element-2c4bb35
  .layout-1
  .counter-inner {
  align-items: center;
}
.elementor-24 .elementor-element.elementor-element-2c4bb35 .counter-number {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}
.elementor-24 .elementor-element.elementor-element-2c4bb35 .icon-space {
  color: #fc7952;
  background-color: #fc795200;
  font-size: 48px;
}
.elementor-24 .elementor-element.elementor-element-2c4bb35 .counter-title {
  color: #ffffff;
}
.elementor-24
  .elementor-element.elementor-element-80fd666
  .odometer-ribbon-inner {
  transition-duration: 2000ms !important;
}
.elementor-24
  .elementor-element.elementor-element-80fd666
  .layout-1
  .counter-inner {
  align-items: center;
}
.elementor-24 .elementor-element.elementor-element-80fd666 .counter-number {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}
.elementor-24 .elementor-element.elementor-element-80fd666 .icon-space {
  color: #fc7952;
  background-color: #fc795200;
  font-size: 48px;
}
.elementor-24 .elementor-element.elementor-element-80fd666 .counter-title {
  color: #ffffff;
}
.elementor-24 .elementor-element.elementor-element-446d681 {
  padding: 120px 0px 0px 0px;
}
.elementor-24 .elementor-element.elementor-element-fc3c77a .pxl-heading-wrap {
  justify-content: center;
}
.elementor-24 .elementor-element.elementor-element-fc3c77a .pxl-heading-inner {
  text-align: center;
  max-width: 570px;
}
.elementor-24
  .elementor-element.elementor-element-fc3c77a
  .pxl-heading-wrap
  .heading-subtitle {
  color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-fc3c77a
  .pxl-heading-wrap
  .heading-subtitle
  span:before {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-fc3c77a
  .pxl-heading-wrap
  .heading-subtitle
  span:after {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-fc3c77a
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-24
  .elementor-element.elementor-element-fc3c77a
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-24 .elementor-element.elementor-element-ce5022b .pxl-text-editor {
  max-width: 636px;
  text-align: center;
}
.elementor-24
  .elementor-element.elementor-element-ce5022b
  .pxl-text-editor-wrap {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-ce5022b
  > .elementor-widget-container {
  margin: 0px 0px 64px 0px;
}
.elementor-24 .elementor-element.elementor-element-8540fc6 {
  padding: 0px 0px 75px 0px;
}
.elementor-24
  .elementor-element.elementor-element-3b78018
  > .elementor-element-populated {
  margin: 0px 0px 45px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-24
  .elementor-element.elementor-element-9676f8a
  > .elementor-element-populated {
  margin: 0px 0px 45px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-24
  .elementor-element.elementor-element-8c2ec15
  > .elementor-element-populated {
  margin: 0px 0px 45px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-24
  .elementor-element.elementor-element-c962ba9
  > .elementor-element-populated {
  margin: 0px 0px 45px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-24
  .elementor-element.elementor-element-0b507eb
  > .elementor-element-populated {
  margin: 0px 0px 45px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-24
  .elementor-element.elementor-element-49f62f2
  > .elementor-element-populated {
  margin: 0px 0px 45px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-24
  .elementor-element.elementor-element-230a90e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-24
  .elementor-element.elementor-element-230a90e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f7fb;
}
.elementor-24 .elementor-element.elementor-element-230a90e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 120px 0px;
}
.elementor-24
  .elementor-element.elementor-element-230a90e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-24
  .elementor-element.elementor-element-a7263c9
  .pxl-heading-wrap
  .heading-subtitle {
  color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-a7263c9
  .pxl-heading-wrap
  .heading-subtitle
  span:before {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-a7263c9
  .pxl-heading-wrap
  .heading-subtitle
  span:after {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-a7263c9
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-24
  .elementor-element.elementor-element-a7263c9
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-24
  .elementor-element.elementor-element-4f0883b
  > .elementor-widget-container {
  margin: 0px 0px 56px 0px;
}
.elementor-24
  .elementor-element.elementor-element-6387862
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-24 .elementor-element.elementor-element-6387862 {
  padding: 120px 0px 120px 0px;
}
.elementor-24
  .elementor-element.elementor-element-673f564
  .pxl-heading-wrap
  .heading-subtitle {
  color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-673f564
  .pxl-heading-wrap
  .heading-subtitle
  span:before {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-673f564
  .pxl-heading-wrap
  .heading-subtitle
  span:after {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-673f564
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-24
  .elementor-element.elementor-element-673f564
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-24
  .elementor-element.elementor-element-6a5b1b3
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
}
.elementor-24
  .elementor-element.elementor-element-a9074cc
  .pxl-button-wrapper
  .pxl-button-icon.right {
  margin-left: 7px;
}
.elementor-24
  .elementor-element.elementor-element-a9074cc
  .pxl-button-wrapper
  .pxl-btn,
.elementor-24
  .elementor-element.elementor-element-a9074cc
  .pxl-button-wrapper
  .link-more {
  font-size: 16px;
}
.elementor-24
  .elementor-element.elementor-element-a9074cc
  .pxl-button-wrapper
  .pxl-btn,
.elementor-24
  .elementor-element.elementor-element-a9074cc
  .pxl-button-wrapper
  .link-more {
  color: #9cb2d3 !important;
}
.elementor-24
  .elementor-element.elementor-element-18befca
  > .elementor-widget-container {
  margin: 0px 0px 0px 110px;
}
.elementor-24
  .elementor-element.elementor-element-3142e29:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-24
  .elementor-element.elementor-element-3142e29
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f7fb;
}
.elementor-24 .elementor-element.elementor-element-3142e29 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-24
  .elementor-element.elementor-element-3142e29
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-24
  .elementor-element.elementor-element-280a0ab:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-24
  .elementor-element.elementor-element-280a0ab
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("http://localhost/serenite/wp-content/uploads/2022/08/testimonials_img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-24
  .elementor-element.elementor-element-280a0ab
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-24
  .elementor-element.elementor-element-280a0ab
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-24
  .elementor-element.elementor-element-7f0a718:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-24
  .elementor-element.elementor-element-7f0a718
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("http://localhost/serenite/wp-content/uploads/2022/08/map_bg_light.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-24
  .elementor-element.elementor-element-7f0a718
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-24
  .elementor-element.elementor-element-7f0a718
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-24
  .elementor-element.elementor-element-aa8a088
  > .elementor-widget-container {
  margin: 120px 0px 120px 0px;
}
.elementor-24 .elementor-element.elementor-element-aa8a088 {
  width: 60%;
  max-width: 60%;
}
.elementor-24 .elementor-element.elementor-element-a5c5852 {
  padding: 120px 0px 21px 0px;
}
.elementor-24 .elementor-element.elementor-element-8ddc7d0 .pxl-heading-wrap {
  justify-content: center;
}
.elementor-24 .elementor-element.elementor-element-8ddc7d0 .pxl-heading-inner {
  text-align: center;
  max-width: 570px;
}
.elementor-24
  .elementor-element.elementor-element-8ddc7d0
  .pxl-heading-wrap
  .heading-subtitle {
  color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-8ddc7d0
  .pxl-heading-wrap
  .heading-subtitle
  span:before {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-8ddc7d0
  .pxl-heading-wrap
  .heading-subtitle
  span:after {
  background-color: #9cb2d3;
}
.elementor-24
  .elementor-element.elementor-element-8ddc7d0
  .pxl-heading-wrap
  .heading-title
  b,
.elementor-24
  .elementor-element.elementor-element-8ddc7d0
  .pxl-heading-wrap
  .heading-title
  strong {
  white-space: nowrap;
}
.elementor-24
  .elementor-element.elementor-element-8ddc7d0
  > .elementor-widget-container {
  margin: 0px 0px 32px 0px;
}
.elementor-24 .elementor-element.elementor-element-e110182 .pxl-partner {
  text-align: center;
}
.elementor-24 .elementor-element.elementor-element-712b553 .pxl-partner {
  text-align: center;
}
.elementor-24 .elementor-element.elementor-element-c4d88f0 .pxl-partner {
  text-align: center;
}
.elementor-24 .elementor-element.elementor-element-6f70c2f .pxl-partner {
  text-align: center;
}
.elementor-24 .elementor-element.elementor-element-2ef6335 .pxl-partner {
  text-align: center;
}
.elementor-24 .elementor-element.elementor-element-64d3a67 .pxl-partner {
  text-align: center;
}
.elementor-24
  .elementor-element.elementor-element-7a7288d
  .odometer-ribbon-inner {
  transition-duration: 2000ms !important;
}
.elementor-24
  .elementor-element.elementor-element-7a7288d
  .layout-1
  .counter-inner {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-7a7288d
  .pxl-counter.layout-2 {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-7a7288d
  .pxl-counter.layout-3 {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-7a7288d
  .pxl-counter.layout-4
  .counter-content {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-7a7288d
  .layout-5
  .counter-inner {
  text-align: center;
}
.elementor-24 .elementor-element.elementor-element-7a7288d .counter-number {
  color: #282e67;
}
.elementor-24 .elementor-element.elementor-element-7a7288d .counter-title {
  color: #282e67;
}
.elementor-24
  .elementor-element.elementor-element-7a7288d
  > .elementor-widget-container {
  margin: 24px 0px 16px 0px;
}
.elementor-24
  .elementor-element.elementor-element-ce4b97a
  .pxl-button-wrapper
  .pxl-button-icon.right {
  margin-left: 9px;
}
.elementor-24 .elementor-element.elementor-element-ce4b97a .pxl-button-wrapper {
  justify-content: center;
}
.elementor-24
  .elementor-element.elementor-element-ce4b97a
  .pxl-button-wrapper
  .pxl-btn,
.elementor-24
  .elementor-element.elementor-element-ce4b97a
  .pxl-button-wrapper
  .link-more {
  font-size: 18px;
  font-weight: 700;
}
.elementor-24
  .elementor-element.elementor-element-ce4b97a
  .pxl-button-wrapper
  .pxl-btn,
.elementor-24
  .elementor-element.elementor-element-ce4b97a
  .pxl-button-wrapper
  .link-more {
  color: #9cb2d3 !important;
}
.elementor-24
  .elementor-element.elementor-element-ce4b97a
  .pxl-button-wrapper
  .pxl-btn:hover,
.elementor-24
  .elementor-element.elementor-element-ce4b97a
  .pxl-button-wrapper
  .link-more:hover {
  color: #fc7952 !important;
}
@media (max-width: 1599px) {
  .elementor-24
    .elementor-element.elementor-element-7180dd9
    .pxl-heading-wrap
    .heading-title
    b,
  .elementor-24
    .elementor-element.elementor-element-7180dd9
    .pxl-heading-wrap
    .heading-title
    strong {
    white-space: inherit;
  }
  .elementor-24
    .elementor-element.elementor-element-a7263c9
    .pxl-heading-wrap
    .heading-title
    b,
  .elementor-24
    .elementor-element.elementor-element-a7263c9
    .pxl-heading-wrap
    .heading-title
    strong {
    white-space: inherit;
  }
  .elementor-24 .elementor-element.elementor-element-aa8a088 {
    width: 90%;
    max-width: 90%;
  }
}
@media (max-width: 1199px) {
  .elementor-24 .elementor-element.elementor-element-4aa55a0 {
    padding: 0px 0px 100px 0px;
  }
  .elementor-24 .elementor-element.elementor-element-721690a {
    padding: 200px 0px 100px 0px;
  }
  .elementor-24 .elementor-element.elementor-element-446d681 {
    padding: 100px 0px 0px 0px;
  }
  .elementor-24 .elementor-element.elementor-element-8540fc6 {
    padding: 0px 0px 55px 0px;
  }
  .elementor-24 .elementor-element.elementor-element-230a90e {
    padding: 100px 0px 70px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-6e6bb8d
    > .elementor-element-populated {
    margin: 0px 0px 46px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-9e9a87b
    > .elementor-element-populated {
    margin: 0px 0px 46px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-964cbd2
    > .elementor-element-populated {
    margin: 0px 0px 46px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-5fc1901
    > .elementor-element-populated {
    margin: 0px 0px 46px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-c779a67
    > .elementor-element-populated {
    margin: 0px 0px 46px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-e82c1d0
    > .elementor-element-populated {
    margin: 0px 0px 46px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-24 .elementor-element.elementor-element-6387862 {
    padding: 100px 0px 100px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-aa8a088
    > .elementor-widget-container {
    margin: 100px 0px 100px 0px;
  }
  .elementor-24 .elementor-element.elementor-element-a5c5852 {
    padding: 100px 0px 0px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-8ddc7d0
    .pxl-heading-wrap
    .heading-title {
    font-size: 2.6rem;
  }
}
@media (max-width: 991px) {
  .elementor-24
    .elementor-element.elementor-element-661ce65
    > .elementor-widget-container {
    margin: 0px 0px 32px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-67578b4
    > .elementor-element-populated {
    margin: 70px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-aa62e90
    > .elementor-container {
    max-width: 720px;
  }
  .elementor-24
    .elementor-element.elementor-element-721690a
    > .elementor-container {
    max-width: 720px;
  }
  .elementor-24
    .elementor-element.elementor-element-18befca
    > .elementor-widget-container {
    margin: 48px 0px 0px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-8ddc7d0
    .pxl-heading-wrap
    .heading-title {
    font-size: 2.25rem;
  }
}
@media (max-width: 767px) {
  .elementor-24 .elementor-element.elementor-element-4aa55a0 {
    padding: 0px 0px 70px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-aa62e90
    > .elementor-container {
    max-width: 540px;
  }
  .elementor-24
    .elementor-element.elementor-element-721690a
    > .elementor-container {
    max-width: 540px;
  }
  .elementor-24 .elementor-element.elementor-element-721690a {
    padding: 200px 0px 70px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-82d9da3
    > .elementor-container {
    max-width: 1140px;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .layout-1
    .counter-inner {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .pxl-counter.layout-2 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .pxl-counter.layout-3 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .pxl-counter.layout-4
    .counter-content {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .layout-5
    .counter-inner {
    text-align: center;
  }
  .elementor-24 .elementor-element.elementor-element-fc9d12b .icon-space {
    font-size: 38px;
  }
  .elementor-24 .elementor-element.elementor-element-fc9d12b .counter-number {
    font-size: 38px;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .layout-1
    .counter-inner {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .pxl-counter.layout-2 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .pxl-counter.layout-3 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .pxl-counter.layout-4
    .counter-content {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .layout-5
    .counter-inner {
    text-align: center;
  }
  .elementor-24 .elementor-element.elementor-element-2c4bb35 .icon-space {
    font-size: 38px;
  }
  .elementor-24 .elementor-element.elementor-element-2c4bb35 .counter-number {
    font-size: 38px;
  }
  .elementor-24
    .elementor-element.elementor-element-66171b2
    > .elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .layout-1
    .counter-inner {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .pxl-counter.layout-2 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .pxl-counter.layout-3 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .pxl-counter.layout-4
    .counter-content {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .layout-5
    .counter-inner {
    text-align: center;
  }
  .elementor-24 .elementor-element.elementor-element-80fd666 .icon-space {
    font-size: 38px;
  }
  .elementor-24 .elementor-element.elementor-element-80fd666 .counter-number {
    font-size: 38px;
  }
  .elementor-24 .elementor-element.elementor-element-446d681 {
    padding: 70px 0px 0px 0px;
  }
  .elementor-24 .elementor-element.elementor-element-8540fc6 {
    padding: 0px 0px 40px 0px;
  }
  .elementor-24 .elementor-element.elementor-element-230a90e {
    padding: 70px 0px 40px 0px;
  }
  .elementor-24 .elementor-element.elementor-element-6387862 {
    padding: 70px 0px 70px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-aa8a088
    > .elementor-widget-container {
    margin: 70px 0px 70px 0px;
  }
  .elementor-24 .elementor-element.elementor-element-a5c5852 {
    padding: 70px 0px 0px 0px;
  }
}
@media (max-width: 575px) {
  .elementor-24
    .elementor-element.elementor-element-7862e72
    > .elementor-widget-container {
    margin: 32px 0px 0px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-c99cf92
    .pxl-heading-wrap
    .heading-title
    b,
  .elementor-24
    .elementor-element.elementor-element-c99cf92
    .pxl-heading-wrap
    .heading-title
    strong {
    white-space: inherit;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .layout-1
    .counter-inner {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .pxl-counter.layout-2 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .pxl-counter.layout-3 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .pxl-counter.layout-4
    .counter-content {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-fc9d12b
    .layout-5
    .counter-inner {
    text-align: center;
  }
  .elementor-24
    .elementor-element.elementor-element-9189dd4
    > .elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .layout-1
    .counter-inner {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .pxl-counter.layout-2 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .pxl-counter.layout-3 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .pxl-counter.layout-4
    .counter-content {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-2c4bb35
    .layout-5
    .counter-inner {
    text-align: center;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .layout-1
    .counter-inner {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .pxl-counter.layout-2 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .pxl-counter.layout-3 {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .pxl-counter.layout-4
    .counter-content {
    justify-content: center;
  }
  .elementor-24
    .elementor-element.elementor-element-80fd666
    .layout-5
    .counter-inner {
    text-align: center;
  }
  .elementor-24
    .elementor-element.elementor-element-673f564
    .pxl-heading-wrap
    .heading-title
    b,
  .elementor-24
    .elementor-element.elementor-element-673f564
    .pxl-heading-wrap
    .heading-title
    strong {
    white-space: inherit;
  }
  .elementor-24
    .elementor-element.elementor-element-8ddc7d0
    .pxl-heading-wrap
    .heading-title {
    font-size: 2rem;
  }
  .elementor-24
    .elementor-element.elementor-element-8ddc7d0
    .pxl-heading-wrap
    .heading-title
    b,
  .elementor-24
    .elementor-element.elementor-element-8ddc7d0
    .pxl-heading-wrap
    .heading-title
    strong {
    white-space: inherit;
  }
  .elementor-24 .elementor-element.elementor-element-2a2b6ef {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-0f08f98 {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-371e3e9 {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-d496e24 {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-e9cf3ea {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-730f7f6 {
    width: 50%;
  }
}
@media (min-width: 576px) {
  .elementor-24 .elementor-element.elementor-element-42fe1aa {
    width: 66.66666667%;
  }
  .elementor-24 .elementor-element.elementor-element-e9b32e9 {
    width: 33.333%;
  }
  .elementor-24 .elementor-element.elementor-element-67a7738 {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-6e6bb8d {
    width: 25%;
  }
  .elementor-24 .elementor-element.elementor-element-9e9a87b {
    width: 24.664%;
  }
}
@media (max-width: 1199px) and (min-width: 576px) {
  .elementor-24 .elementor-element.elementor-element-42fe1aa {
    width: 60%;
  }
  .elementor-24 .elementor-element.elementor-element-e9b32e9 {
    width: 40%;
  }
  .elementor-24 .elementor-element.elementor-element-67a7738 {
    width: 100%;
  }
  .elementor-24 .elementor-element.elementor-element-6e6bb8d {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-9e9a87b {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-964cbd2 {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-5fc1901 {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-c779a67 {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-e82c1d0 {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-2a2b6ef {
    width: 33.33333333%;
  }
  .elementor-24 .elementor-element.elementor-element-0f08f98 {
    width: 33.33333333%;
  }
  .elementor-24 .elementor-element.elementor-element-371e3e9 {
    width: 33.33333333%;
  }
  .elementor-24 .elementor-element.elementor-element-d496e24 {
    width: 33.33333333%;
  }
  .elementor-24 .elementor-element.elementor-element-e9cf3ea {
    width: 33.33333333%;
  }
  .elementor-24 .elementor-element.elementor-element-730f7f6 {
    width: 33.33333333%;
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  .elementor-24 .elementor-element.elementor-element-3549fe1 {
    width: 100%;
  }
  .elementor-24 .elementor-element.elementor-element-67578b4 {
    width: 100%;
  }
  .elementor-24 .elementor-element.elementor-element-f030f63 {
    width: 100%;
  }
  .elementor-24 .elementor-element.elementor-element-646eaae {
    width: 100%;
  }
  .elementor-24 .elementor-element.elementor-element-280a0ab {
    width: 100%;
  }
  .elementor-24 .elementor-element.elementor-element-7f0a718 {
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .elementor-24 .elementor-element.elementor-element-1a09b5b {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-9189dd4 {
    width: 50%;
  }
  .elementor-24 .elementor-element.elementor-element-66171b2 {
    width: 50%;
  }
}
