.elementor-2528
  .elementor-element.elementor-element-a15c66f
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2528 .elementor-element.elementor-element-a15c66f > div {
  justify-content: space-between;
}
.elementor-2528
  .elementor-element.elementor-element-a15c66f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2528
  .elementor-element.elementor-element-a15c66f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #5763ded6;
}
.elementor-2528 .elementor-element.elementor-element-a15c66f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 8px 0px 8px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-a15c66f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2528 .elementor-element.elementor-element-86d3e55 .pxl-logo img {
  max-width: 165px;
}
.elementor-2528 .elementor-element.elementor-element-2dd51da .pxl-anchor-icon {
  font-size: 20px;
}
.elementor-2528 .elementor-element.elementor-element-2dd51da .pxl-anchor {
  color: #000;
}
.elementor-2528
  .elementor-element.elementor-element-2dd51da
  .pxl-anchor-wrap
  .icon-custom
  span {
  background-color: #000;
}
.elementor-2528 .elementor-element.elementor-element-2dd51da {
  width: auto;
  max-width: auto;
}
.elementor-2528
  .elementor-element.elementor-element-79dbfa6
  .pxl-user-anchor-wrap
  .user-logged-link
  .user-title {
  display: none;
}
.elementor-2528 .elementor-element.elementor-element-79dbfa6 .pxl-anchor,
.elementor-2528 .elementor-element.elementor-element-79dbfa6 .pxl-anchor-icon {
  color: #000;
}
.elementor-2528
  .elementor-element.elementor-element-79dbfa6
  > .elementor-widget-container {
  margin: 0px 0px 0px 16px;
}
.elementor-2528 .elementor-element.elementor-element-79dbfa6 {
  width: auto;
  max-width: auto;
}
.elementor-2528 .elementor-element.elementor-element-6702a40 .pxl-anchor {
  color: #000;
}
.elementor-2528
  .elementor-element.elementor-element-6702a40
  .pxl-anchor-wrap
  .icon-custom
  span {
  background-color: #000;
}
.elementor-2528 .elementor-element.elementor-element-6702a40 .pxl-anchor:hover {
  color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-6702a40
  .pxl-anchor-wrap
  .icon-custom:hover
  span {
  background-color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-6702a40
  > .elementor-widget-container {
  margin: 0px 0px 0px 16px;
}
.elementor-2528 .elementor-element.elementor-element-6702a40 {
  width: auto;
  max-width: auto;
}
.elementor-2528
  .elementor-element.elementor-element-07dc1f6
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2528 .elementor-element.elementor-element-07dc1f6 {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff30;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 16px 0px 16px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-07dc1f6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2528 .elementor-element.elementor-element-538fa51 .pxl-links a {
  color: #000;
}
.elementor-2528
  .elementor-element.elementor-element-538fa51
  .pxl-links
  a:hover {
  color: #282e67;
}
.elementor-2528 .elementor-element.elementor-element-538fa51 {
  width: auto;
  max-width: auto;
}
.elementor-2528
  .elementor-element.elementor-element-5d3059a.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-2528 .elementor-element.elementor-element-a772e35 .pxl-links a {
  color: #000;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-2528
  .elementor-element.elementor-element-a772e35
  .pxl-links
  a:hover {
  color: #ffffffcf;
}
.elementor-2528 .elementor-element.elementor-element-a772e35 {
  width: auto;
  max-width: auto;
}
.elementor-2528
  .elementor-element.elementor-element-18374fc
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2528 .elementor-element.elementor-element-18374fc > div {
  justify-content: space-between;
}
.elementor-2528 .elementor-element.elementor-element-18374fc {
  padding: 16px 0px 16px 0px;
}
.elementor-2528 .elementor-element.elementor-element-956094d .pxl-logo img {
  max-width: 165px;
}
.elementor-2528 .elementor-element.elementor-element-ae7082e .pxl-anchor-icon {
  font-size: 20px;
}
.elementor-2528 .elementor-element.elementor-element-ae7082e .pxl-anchor {
  color: #000;
}
.elementor-2528
  .elementor-element.elementor-element-ae7082e
  .pxl-anchor-wrap
  .icon-custom
  span {
  background-color: #000;
}
.elementor-2528 .elementor-element.elementor-element-ae7082e {
  width: auto;
  max-width: auto;
}
.elementor-2528
  .elementor-element.elementor-element-a39aa9c
  .pxl-user-anchor-wrap
  .user-logged-link
  .user-title {
  display: none;
}
.elementor-2528 .elementor-element.elementor-element-a39aa9c .pxl-anchor,
.elementor-2528 .elementor-element.elementor-element-a39aa9c .pxl-anchor-icon {
  color: #000;
}
.elementor-2528
  .elementor-element.elementor-element-a39aa9c
  > .elementor-widget-container {
  margin: 0px 0px 0px 16px;
}
.elementor-2528 .elementor-element.elementor-element-a39aa9c {
  width: auto;
  max-width: auto;
}
.elementor-2528 .elementor-element.elementor-element-39421ae .pxl-anchor {
  color: #000;
}
.elementor-2528
  .elementor-element.elementor-element-39421ae
  .pxl-anchor-wrap
  .icon-custom
  span {
  background-color: #000;
}
.elementor-2528 .elementor-element.elementor-element-39421ae .pxl-anchor:hover {
  color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-39421ae
  .pxl-anchor-wrap
  .icon-custom:hover
  span {
  background-color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-39421ae
  > .elementor-widget-container {
  margin: 0px 0px 0px 16px;
}
.elementor-2528 .elementor-element.elementor-element-39421ae {
  width: auto;
  max-width: auto;
}
body.elementor-page-2528:not(.elementor-motion-effects-element-type-background),
body.elementor-page-2528
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #5763de96;
}
@media (max-width: 575px) {
  .elementor-2528 .elementor-element.elementor-element-86d3e55 .pxl-logo img {
    max-width: 140px;
  }
  .elementor-2528 .elementor-element.elementor-element-2dd51da .pxl-anchor {
    color: #000;
  }
  .elementor-2528
    .elementor-element.elementor-element-2dd51da
    .pxl-anchor-wrap
    .icon-custom
    span {
    background-color: #000;
  }
  .elementor-2528
    .elementor-element.elementor-element-2dd51da
    .pxl-anchor:hover {
    color: #ffffff;
  }
  .elementor-2528
    .elementor-element.elementor-element-2dd51da
    .pxl-anchor-wrap
    .icon-custom:hover
    span {
    background-color: #ffffff;
  }
  .elementor-2528 .elementor-element.elementor-element-07dc1f6 {
    padding: 8px 0px 8px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-d893080.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-2528 .elementor-element.elementor-element-538fa51 .pxl-links {
    justify-content: center;
  }
  .elementor-2528
    .elementor-element.elementor-element-5d3059a.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-2528 .elementor-element.elementor-element-a772e35 .pxl-links {
    justify-content: center;
  }
  .elementor-2528 .elementor-element.elementor-element-956094d .pxl-logo img {
    max-width: 140px;
  }
  .elementor-2528 .elementor-element.elementor-element-ae7082e .pxl-anchor {
    color: #000;
  }
  .elementor-2528
    .elementor-element.elementor-element-ae7082e
    .pxl-anchor-wrap
    .icon-custom
    span {
    background-color: #000;
  }
  .elementor-2528
    .elementor-element.elementor-element-ae7082e
    .pxl-anchor:hover {
    color: #ffffff;
  }
  .elementor-2528
    .elementor-element.elementor-element-ae7082e
    .pxl-anchor-wrap
    .icon-custom:hover
    span {
    background-color: #ffffff;
  }
}
