.elementor-2502
  .elementor-element.elementor-element-8ccfa5f
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2502
  .elementor-element.elementor-element-8ccfa5f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2502
  .elementor-element.elementor-element-8ccfa5f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #5763decc;
}
.elementor-2502 .elementor-element.elementor-element-8ccfa5f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2502
  .elementor-element.elementor-element-8ccfa5f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2502 .elementor-element.elementor-element-587d8d1 .pxl-logo img {
  max-width: 165px;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-primary-menu
  > li
  > a {
  color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-mobile-menu
  > li
  > a {
  color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-primary-menu
  > li
  .main-menu-toggle {
  color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-mobile-menu
  > li
  .main-menu-toggle {
  color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-primary-menu
  > li
  > a
  span:before {
  background-color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-primary-menu
  > li
  > a,
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-mobile-menu
  > li
  > a {
  line-height: 72px;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-primary-menu
  li
  .sub-menu
  a {
  color: #3f4b4b;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-mobile-menu
  li
  .sub-menu
  a {
  color: #3f4b4b;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-primary-menu
  li
  .sub-menu
  a:hover {
  color: #7d8cff;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-mobile-menu
  li
  .sub-menu
  a:hover {
  color: #7d8cff;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  .pxl-nav-menu
  .pxl-primary-menu
  .sub-menu
  li:before {
  background-color: #7d8cff;
}
.elementor-2502
  .elementor-element.elementor-element-87c7117
  > .elementor-widget-container {
  margin: 0px 0px 0px 20px;
}
.elementor-2502 .elementor-element.elementor-element-10de8bd .pxl-anchor-icon {
  font-size: 20px;
}
.elementor-2502 .elementor-element.elementor-element-10de8bd .pxl-anchor {
  color: #3f4b4b;
}
.elementor-2502
  .elementor-element.elementor-element-10de8bd
  .pxl-anchor-wrap
  .icon-custom
  span {
  background-color: #3f4b4b;
}
.elementor-2502 .elementor-element.elementor-element-10de8bd .pxl-anchor:hover {
  color: #ffffff;
}
.elementor-2502
  .elementor-element.elementor-element-10de8bd
  .pxl-anchor-wrap
  .icon-custom:hover
  span {
  background-color: #ffffff;
}
.elementor-2502
  .elementor-element.elementor-element-10de8bd
  .pxl-anchor-wrap.style-icon-search
  .pxl-anchor {
  background-color: #f2f2f2;
}
.elementor-2502
  .elementor-element.elementor-element-10de8bd
  .pxl-anchor-wrap.style-icon-search
  .pxl-anchor:hover {
  background-color: #9cb2d3;
}
.elementor-2502 .elementor-element.elementor-element-10de8bd {
  width: auto;
  max-width: auto;
}
.elementor-2502
  .elementor-element.elementor-element-57661db
  .pxl-user-anchor-wrap
  .user-logged-link
  .user-title {
  display: inline-flex;
  color: #ffffff;
}
.elementor-2502
  .elementor-element.elementor-element-57661db
  > .elementor-widget-container {
  margin: 0px 0px 0px 28px;
}
.elementor-2502 .elementor-element.elementor-element-57661db {
  width: auto;
  max-width: auto;
}
.elementor-2502
  .elementor-element.elementor-element-8c74331
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2502 .elementor-element.elementor-element-8c74331 {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #f2f2f2;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 16px 0px 16px 0px;
}
.elementor-2502
  .elementor-element.elementor-element-8c74331
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2502 .elementor-element.elementor-element-3b4bfb6 .pxl-links a {
  color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-3b4bfb6
  .pxl-links
  a:hover {
  color: #282e67;
}
.elementor-2502 .elementor-element.elementor-element-3b4bfb6 {
  width: auto;
  max-width: auto;
}
.elementor-2502
  .elementor-element.elementor-element-af494d2.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-2502 .elementor-element.elementor-element-98b6e70 .pxl-links a {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-2502
  .elementor-element.elementor-element-98b6e70
  .pxl-links
  a:hover {
  color: #000;
}
.elementor-2502 .elementor-element.elementor-element-98b6e70 {
  width: auto;
  max-width: auto;
}
.elementor-2502
  .elementor-element.elementor-element-c5c802a
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2502 .elementor-element.elementor-element-3e7e6ef .pxl-logo img {
  max-width: 165px;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-primary-menu
  > li
  > a {
  color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-mobile-menu
  > li
  > a {
  color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-primary-menu
  > li
  .main-menu-toggle {
  color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-mobile-menu
  > li
  .main-menu-toggle {
  color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-primary-menu
  > li
  > a
  span:before {
  background-color: #000;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-primary-menu
  > li
  > a,
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-mobile-menu
  > li
  > a {
  line-height: 78px;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-primary-menu
  li
  .sub-menu
  a {
  color: #3f4b4b;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-mobile-menu
  li
  .sub-menu
  a {
  color: #3f4b4b;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-primary-menu
  li
  .sub-menu
  a:hover {
  color: #7d8cff;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-mobile-menu
  li
  .sub-menu
  a:hover {
  color: #7d8cff;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  .pxl-nav-menu
  .pxl-primary-menu
  .sub-menu
  li:before {
  background-color: #7d8cff;
}
.elementor-2502
  .elementor-element.elementor-element-9649efc
  > .elementor-widget-container {
  margin: 0px 0px 0px 20px;
}
.elementor-2502 .elementor-element.elementor-element-9e7232b .pxl-anchor-icon {
  font-size: 20px;
}
.elementor-2502 .elementor-element.elementor-element-9e7232b .pxl-anchor {
  color: #3f4b4b;
}
.elementor-2502
  .elementor-element.elementor-element-9e7232b
  .pxl-anchor-wrap
  .icon-custom
  span {
  background-color: #3f4b4b;
}
.elementor-2502 .elementor-element.elementor-element-9e7232b .pxl-anchor:hover {
  color: #ffffff;
}
.elementor-2502
  .elementor-element.elementor-element-9e7232b
  .pxl-anchor-wrap
  .icon-custom:hover
  span {
  background-color: #ffffff;
}
.elementor-2502
  .elementor-element.elementor-element-9e7232b
  .pxl-anchor-wrap.style-icon-search
  .pxl-anchor {
  background-color: #f2f2f2;
}
.elementor-2502
  .elementor-element.elementor-element-9e7232b
  .pxl-anchor-wrap.style-icon-search
  .pxl-anchor:hover {
  background-color: #9cb2d3;
}
.elementor-2502 .elementor-element.elementor-element-9e7232b {
  width: auto;
  max-width: auto;
}
.elementor-2502
  .elementor-element.elementor-element-82395cd
  .pxl-user-anchor-wrap
  .user-logged-link
  .user-title {
  display: inline-flex;
  color: #ffffff;
}
.elementor-2502
  .elementor-element.elementor-element-82395cd
  > .elementor-widget-container {
  margin: 0px 0px 0px 28px;
}
.elementor-2502 .elementor-element.elementor-element-82395cd {
  width: auto;
  max-width: auto;
}
body.elementor-page-2502:not(.elementor-motion-effects-element-type-background),
body.elementor-page-2502
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #5763de96;
}
