@font-face {
    font-family: 'Serenite';
    src:  url('fonts/Serenitedc5f.html?686v1v');
    src:  url('fonts/Serenitedc5f.html?686v1v#iefix') format('embedded-opentype'),
        url('fonts/Serenitedc5f.ttf?686v1v') format('truetype'),
        url('fonts/Serenitedc5f-2.html?686v1v') format('woff'),
        url('fonts/Serenitedc5f-3.html?686v1v#Serenite') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="srn-"], [class*=" srn-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Serenite' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.srn-lock:before {
    content: "\e900";
}
.srn-bulb:before {
    content: "\e901";
}
.srn-cup:before {
    content: "\e902";
}
.srn-mail:before {
    content: "\e903";
}
.srn-params:before {
    content: "\e904";
}
.srn-banknote:before {
    content: "\e905";
}
.srn-data:before {
    content: "\e906";
}
.srn-study:before {
    content: "\e907";
}
.srn-arrow-down:before {
    content: "\e914";
}
.srn-arrow-down-circle:before {
    content: "\e915";
}
.srn-arrow-down-left:before {
    content: "\e916";
}
.srn-arrow-down-right:before {
    content: "\e917";
}
.srn-arrow-left:before {
    content: "\e918";
}
.srn-arrow-left-circle:before {
    content: "\e919";
}
.srn-arrow-right:before {
    content: "\e91a";
}
.srn-arrow-right-circle:before {
    content: "\e91b";
}
.srn-arrow-up:before {
    content: "\e91c";
}
.srn-arrow-up-circle:before {
    content: "\e91d";
}
.srn-arrow-up-left:before {
    content: "\e91e";
}
.srn-arrow-up-right:before {
    content: "\e91f";
}
.srn-at-sign:before {
    content: "\e920";
}
.srn-battery:before {
    content: "\e921";
}
.srn-battery-charging:before {
    content: "\e922";
}
.srn-bell:before {
    content: "\e923";
}
.srn-bookmark:before {
    content: "\e924";
}
.srn-box:before {
    content: "\e925";
}
.srn-briefcase:before {
    content: "\e926";
}
.srn-calendar:before {
    content: "\e927";
}
.srn-camera:before {
    content: "\e928";
}
.srn-check:before {
    content: "\e929";
}
.srn-check-circle:before {
    content: "\e92a";
}
.srn-check-square:before {
    content: "\e92b";
}
.srn-chevron-down:before {
    content: "\e92c";
}
.srn-chevron-left:before {
    content: "\e92d";
}
.srn-chevron-right:before {
    content: "\e92e";
}
.srn-chevron-up:before {
    content: "\e92f";
}
.srn-chevrons-down:before {
    content: "\e930";
}
.srn-chevrons-left:before {
    content: "\e931";
}
.srn-chevrons-right:before {
    content: "\e932";
}
.srn-chevrons-up:before {
    content: "\e933";
}
.srn-circle:before {
    content: "\e934";
}
.srn-clipboard:before {
    content: "\e935";
}
.srn-clock:before {
    content: "\e936";
}
.srn-code:before {
    content: "\e937";
}
.srn-codepen:before {
    content: "\e938";
}
.srn-codesandbox:before {
    content: "\e939";
}
.srn-coffee:before {
    content: "\e93a";
}
.srn-columns:before {
    content: "\e93b";
}
.srn-copy:before {
    content: "\e93c";
}
.srn-corner-down-left:before {
    content: "\e93d";
}
.srn-corner-down-right:before {
    content: "\e93e";
}
.srn-corner-left-down:before {
    content: "\e93f";
}
.srn-corner-left-up:before {
    content: "\e940";
}
.srn-corner-right-down:before {
    content: "\e941";
}
.srn-corner-right-up:before {
    content: "\e942";
}
.srn-corner-up-left:before {
    content: "\e943";
}
.srn-corner-up-right:before {
    content: "\e944";
}
.srn-credit-card:before {
    content: "\e945";
}
.srn-crosshair:before {
    content: "\e946";
}
.srn-database:before {
    content: "\e947";
}
.srn-disc:before {
    content: "\e948";
}
.srn-dollar-sign:before {
    content: "\e949";
}
.srn-download:before {
    content: "\e94a";
}
.srn-download-cloud:before {
    content: "\e94b";
}
.srn-droplet:before {
    content: "\e94c";
}
.srn-external-link:before {
    content: "\e94d";
}
.srn-eye:before {
    content: "\e94e";
}
.srn-file-text:before {
    content: "\e94f";
}
.srn-flag:before {
    content: "\e950";
}
.srn-folder:before {
    content: "\e951";
}
.srn-frown:before {
    content: "\e952";
}
.srn-globe:before {
    content: "\e953";
}
.srn-hard-drive:before {
    content: "\e954";
}
.srn-headphones:before {
    content: "\e955";
}
.srn-help-circle:before {
    content: "\e956";
}
.srn-hexagon:before {
    content: "\e957";
}
.srn-inbox:before {
    content: "\e958";
}
.srn-layers:before {
    content: "\e959";
}
.srn-layout:before {
    content: "\e95a";
}
.srn-link:before {
    content: "\e95b";
}
.srn-link-2:before {
    content: "\e95c";
}
.srn-mail1:before {
    content: "\e95d";
}
.srn-map-pin:before {
    content: "\e95e";
}
.srn-message-circle:before {
    content: "\e95f";
}
.srn-message-square:before {
    content: "\e960";
}
.srn-minus:before {
    content: "\e961";
}
.srn-pen-tool:before {
    content: "\e962";
}
.srn-phone:before {
    content: "\e963";
}
.srn-pie-chart:before {
    content: "\e964";
}
.srn-play:before {
    content: "\e965";
}
.srn-play-circle:before {
    content: "\e966";
}
.srn-plus:before {
    content: "\e967";
}
.srn-plus-circle:before {
    content: "\e968";
}
.srn-plus-square:before {
    content: "\e969";
}
.srn-pocket:before {
    content: "\e96a";
}
.srn-power:before {
    content: "\e96b";
}
.srn-save:before {
    content: "\e96c";
}
.srn-scissors:before {
    content: "\e96d";
}
.srn-search:before {
    content: "\e96e";
}
.srn-settings:before {
    content: "\e96f";
}
.srn-share:before {
    content: "\e970";
}
.srn-share-2:before {
    content: "\e971";
}
.srn-shopping-bag:before {
    content: "\e972";
}
.srn-shopping-cart:before {
    content: "\e973";
}
.srn-sidebar:before {
    content: "\e974";
}
.srn-slack:before {
    content: "\e975";
}
.srn-slash:before {
    content: "\e976";
}
.srn-sliders:before {
    content: "\e977";
}
.srn-smartphone:before {
    content: "\e978";
}
.srn-smile:before {
    content: "\e979";
}
.srn-speaker:before {
    content: "\e97a";
}
.srn-star:before {
    content: "\e97b";
}
.srn-tablet:before {
    content: "\e97c";
}
.srn-tag:before {
    content: "\e97d";
}
.srn-thermometer:before {
    content: "\e97e";
}
.srn-toggle-left:before {
    content: "\e97f";
}
.srn-toggle-right:before {
    content: "\e980";
}
.srn-tool:before {
    content: "\e981";
}
.srn-trash:before {
    content: "\e982";
}
.srn-trash-2:before {
    content: "\e983";
}
.srn-trello:before {
    content: "\e984";
}
.srn-trending-down:before {
    content: "\e985";
}
.srn-trending-up:before {
    content: "\e986";
}
.srn-triangle:before {
    content: "\e987";
}
.srn-umbrella:before {
    content: "\e988";
}
.srn-unlock:before {
    content: "\e989";
}
.srn-upload:before {
    content: "\e98a";
}
.srn-upload-cloud:before {
    content: "\e98b";
}
.srn-user-check:before {
    content: "\e98c";
}
.srn-x:before {
    content: "\e98d";
}
.srn-x-circle:before {
    content: "\e98e";
}
.srn-x-square:before {
    content: "\e98f";
}
.srn-icon-tick-mark:before {
    content: "\e909";
}
.srn-icon-quote:before {
    content: "\e908";
}
.srn-icon-cafetaria:before {
    content: "\e990";
}
.srn-icon-chat-left-fill:before {
    content: "\e991";
}
.srn-icon-coworking:before {
    content: "\e992";
}
.srn-icon-dedicated-desk:before {
    content: "\e993";
}
.srn-icon-design-creativity:before {
    content: "\e994";
}
.srn-icon-digital-analytics:before {
    content: "\e995";
}
.srn-icon-digital-analytics-monitor:before {
    content: "\e996";
}
.srn-icon-digital-marketing:before {
    content: "\e997";
}
.srn-icon-email-maketing:before {
    content: "\e998";
}
.srn-icon-equipment-utilities:before {
    content: "\e999";
}
.srn-icon-exercise-space:before {
    content: "\e99a";
}
.srn-icon-flexible-timing:before {
    content: "\e99b";
}
.srn-icon-global-availability:before {
    content: "\e99c";
}
.srn-icon-global-office:before {
    content: "\e99d";
}
.srn-icon-keyword-research:before {
    content: "\e99e";
}
.srn-icon-keyword-research-second:before {
    content: "\e99f";
}
.srn-icon-love-social:before {
    content: "\e9a0";
}
.srn-icon-marketing-automation:before {
    content: "\e9a1";
}
.srn-icon-meeting-room:before {
    content: "\e9a2";
}
.srn-icon-office-space:before {
    content: "\e9a3";
}
.srn-icon-research:before {
    content: "\e9a5";
}
.srn-icon-social-attachment:before {
    content: "\e9a6";
}
.srn-icon-social-media-management:before {
    content: "\e9a7";
}
.srn-icon-technology-innovation:before {
    content: "\e9a8";
}
.srn-icon-wireless:before {
    content: "\e9a9";
}
